<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>

<body>
  <h2>Purchase Requests</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Project</th>
        <th>Team</th>
        <th>Status</th>
        <th>Received Time</th>
      </tr>
    </thead>
    <tbody id="purchase-list">
      <!-- Dynamic rows will be added here -->
    </tbody>
  </table>
</body>

</html>