<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Info</title>
</head>

<body>
  <h2>Info Management</h2>
  <div class="form-section">
    <h3>Course Management</h3>
    <form action="/course/add" method="POST" class="form">
      <label for="course-name">Course Name:</label>
      <input type="text" id="course-name" name="course-name" required>
      <p>
      <label for="startDateTime">Start Date & Time:</label>
      <input type="datetime-local" id="startDateTime" name="startDateTime" required>
      <p>
      <label for="endDateTime">End Date & Time:</label>
      <input type="datetime-local" id="endDateTime" name="endDateTime" required>

      <button type="submit">Add Course</button>
    </form>
    <div class="list">
      <h4>Course List</h4>
      <ul id="course-list">
        <% courses.forEach((course) => { %>
          <li>
            <strong><%= course.name %></strong>
            (Start: <%= course.startDateTime %>, End: <%= course.endDateTime %>)
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>

</html>
